.iconic__wrapper {
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-gap:50px;
    padding:60px 10%;
    box-shadow: inset 0 6px 8px rgba(0,0,0, .05);
}

.iconic { 
    display:inline-block;
    text-align:center; 
}
.iconic i {
    color:#88ABA4;
    font-size:64px;
    display:block;
    margin-bottom:20px;
}
.iconic .iconic__header {
    color:#403F3F;
    font-size:16px;
    margin-bottom:5px;
}
.iconic .iconic__header:after { display:none; }
.iconic .iconic__sub {
    color:#707070;
    font-size:16px;
    margin-bottom:20px;
}
.iconic .iconic__p {
    color:#707070;
    text-align:left;
}

@media only screen and (max-width: 560px) {
    .iconic__wrapper {
        grid-template-columns: auto;
        margin:50px 5%;
    }
}