.list__wrapper {
    position: relative;
    width:100%;
    padding:50px 10%;
    background-color:#FFF;
    box-shadow: inset 0 6px 8px rgba(0,0,0, .05);
}
.list__wrapper:after  {
    position: absolute;
    top:50%;
    left:50%;
    width:100%;
    height:100%;
    content: '';
    display:block;
    background-image:url('../Images/list.png');
    background-position: center;
    opacity: .09;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
}


.list__content {
    width:90%;
    margin:0 auto;

}
.list__content h1 {
    text-align:center;
    margin-bottom:30px;

    text-transform: uppercase;
    font-weight:400;
    font-size:24px;
}
.list__content h1:after { display:none; }
.list__content span {
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-gap:10px;
    margin:0 auto;
}

.list__content ul {
    margin:0 auto;
}

.list__content li {
    color:#707070;
    font-weight:300;
    text-transform: capitalize;
    margin:5px 0;
    text-align: left;
    font-size:14px;
    
}