.monster__wrap {
    position: relative;
    width:100%;
    background-image:url('../Images/maritime/monster.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.monster__content {
    max-width:560px;
    padding:120px 0;
    text-align:left;
    margin:0 auto;
}
.monster__wrap h1 {
    text-align: center;
    text-transform: uppercase;
}
.monster__wrap h1:after { display:none; }

.monster__wrap p {
    margin:20px 0;
    color:#444444;
}