nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    padding:0 10%;
    height:65px;
    line-height:65px;
    background-color:#FFF;
    box-shadow:0 0 2px rgba(0,0,0, .16);
    /* overflow:hidden; */
    font-family:'raleway', sans-serif;
    transition: .2s;
    z-index:9999;
}

nav .logo {
    display:inline-block;
}
nav .logo img {
    vertical-align: Middle;
    width:310px;
}
nav .toggle {
    display:none;
}
nav ul {
    float:right;
}
nav .nav__item {
    display:inline-block;
}
nav .nav__link {
    position: relative;
    display:block;
    padding:0 15px;
    color:#868686;
    text-decoration:none !important;
    transition:.2s;
    font-size:14px;
    cursor: pointer;
}
nav .nav__link:hover,
nav .nav__link:focus {
    color:#000;
}

nav .nav__link:after {
    position: absolute;
    content:'';
    display:none;
    width:40%;
    height:2px;
    border-radius:10px;
    background-color:#BD261B;
    bottom:30px;
    left:50%;
    transform:translate(-50%, 20px);
}

nav .nav__active__link {
    color:#000;
    font-weight:600;
}
nav .nav__active__link.nav__link:after {
    display:block;
}
.mobile .toggle {
    display:inline-block;
    float:right;
    cursor:pointer;
    height:65px;
    padding:0 15px;
    transition:.2s;
    color:#868686;
}
.mobile .toggle i {
    margin-left:10px;
    font-size:24px;
    vertical-align: middle;
}
nav.mobile ul {
    top:-100vh; left:0;
    position: absolute;
    transition:.5s;
    display:block;
    height:100%;
    background-image:url('../Images/future.jpg');
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index:-1;
}
nav.mobile ul:before {
    content:'';
    display:block;
    width:100%;
    height:calc(100vh - 65px);
    position: absolute;
    top:0;
    background-color:rgba(45, 61, 84, .9);
}
nav.mobile {
    padding:0 5%;
}
nav.mobile .logo img{
    width:200px;
}

nav.mobile .nav__visible {
    display:block;
    top:65px; left:0;
    width:100%;
    height:calc(100vh - 65px);
    transition:.5s;
    padding:20px 0 0 0;
}


nav.mobile .nav__visible li {
    display:block;
}
nav.mobile .nav__visible li a {
    display:block;
    padding:0 10px;
    width:100%;
    text-align:center;
    font-size:16px;
    cursor: pointer;
    color:#e0e0e0;
}
/* nav.mobile .nav__visible li a:after { display:none; } */