.showcase { display:grid; padding:50px 10%; position:relative; align-items: center; }
.showcase.tall {
    grid-template-columns:35% auto;
    background-color:#FBFBFB;
    /* grid-gap:20px; */
}
.showcase-flex {
    display:flex;
    flex-wrap: wrap;
    margin:-15px;
}
.showcase-flex .showcase-column { width:50%; padding:15px; }
.showcase-column.tall {
    width:100%;
}
.showcase-column.tall img {
    max-width:250px;
    width:100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit:cover;
}
.showcase-header {
    position: relative;
    grid-column: 1 / 3;
    text-align:center;
    margin-bottom:50px;
}
.showcase-header:after {
    display:block;
    content:'';
    position: absolute;
    bottom:0px;
    left:50%;
    transform:translate(-50%, -50%);
    height:2px; width:150px;
    background-color:#333;
}
.showcase-header .title {
    font-weight:600;
    font-family:'lato', sans-serif;
    text-transform:uppercase;
    font-size:28px;
    margin-bottom:5px;
    color:#333;
}
.showcase-header .title:after { display:none; }

.showcase-header .subtitle {
    font-size:19px;
    font-weight:300;
    font-family:'lato', sans-serif;
    margin-bottom:25px;
    color:#777;
}
.showcase-column p {
    font-size:14px;
    padding-bottom:5px;
    color:#777;
    font-family:'lato', sans-serif;
}

.showcase-column h2 {
    font-size:16px;
    font-family:'raleway', sans-serif;
    text-transform:uppercase;
    font-weight:#700;
    color:#333;
    margin-bottom:10px;
}
.showcase-column h2 i {
    font-size:24px;
    margin-right:5px;
    vertical-align: middle;
}

@media only screen and (max-width: 560px) { 
    .showcase {
        grid-template-columns:100% !important;
        padding:50px 5%;
    }
    .showcase-column.tall {
        text-align: center;
        margin-bottom:20px; 
    }
    .showcase-column.tall img {
        max-width:100%;
        width:100%;
        display: block;
    }
    .showcase-column {
        grid-column:1;
        
    }
    .showcase-flex {
        display:block;
        width:100%;
        margin:0px;
    }
    .showcase-flex .showcase-column {
        width:100%;
        padding:0;
        margin:30px 0;
    }
}