@import url('https://fonts.googleapis.com/css?family=Lato:300,400,200,700|Raleway:400,700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline: none;
    border:0;
    text-decoration: none;
}

body, html {
    color:#3F4A58;
    font-weight:200;
    min-height:100vh;
    width:100%;
    font-family: 'Lato', sans-serif;
    background-color:#FFF;
    scroll-behavior: smooth;
    font-size:14px;
}

/* Selected text color */
::selection {
    background-color: #bd261b;
    color: #FFF;
}


/*
 * ========================================================
 * Headline and text stylings
 * ======================================================== 
 */
h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family:'Raleway', sans-serif;
    color:#000;
    display:block;
}
h1:not(.left)::after {
    position: absolute;
    content:'';
    display:block;
    bottom:-5px;
    height:2px; 
    min-width:50px; 
    width:25%;
    max-width:100px;
    background-color:#bd261b;
}

p {
    font-family:'Lato', sans-serif;
}

a {
    color:#bd261b;
    transition:200 text-decoration;
}
a:hover,
a:focus {
    text-decoration:underline;
}


/*
 * ========================================================
 * Main content and sections
 * ======================================================== 
 */
main {
    position: relative;
    margin:0 auto;
    min-height:calc(100vh - 190px);
    /* overflow-x:hidden; */
    z-index:99;
}
.main {margin:50px 10%;}
.main h1 {
    margin-bottom:15px;
}
section {
    width:100%;
    overflow-x:hidden;
}

span {
    display:block;
    font-family:'Raleway', sans-serif;
    font-weight:700;
    color:#333;
    font-size:16px;
    margin-bottom:15px;
    text-transform: uppercase;
}
strong { 
    position: relative;
    color:#bd261b; 
}
strong::after {
    position: absolute;
    content:'';
    display:block;
    bottom:-5px;
    height:2px; width:50px;
    background-color:#bd261b;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    margin:50px 10%;
    overflow:hidden;
}
.grid-column {
    display:block;
    width:calc(33.33% - 50px);
    margin:25px;
}


.grid-column p {
    color:#999;
    font-family:'Lato', sans-serif;
    font-size:14px;
    line-height:25px;
}

.main-content {
    margin-bottom: 0;
}
.main-content .main-grid {
    display:grid;
    grid-template-columns: 360px auto;
    grid-gap:20px;
    margin:0 auto;
    padding:0 10%;
    align-items: center;
    overflow-x:hidden;
}
.main-content.aside.left {
    display:grid;
    grid-template-columns: 250px auto;
}
.main-content.aside.right {
    display:grid;
    grid-template-columns: auto 250px;
}
.main-content.aside.right a {
    text-align:left;
}
.main-content.aside.left aside { order:1; }
.main-content.aside.left .grid-bg { order:2; }
.main-content.aside.right aside { order:2; }
.main-content.aside.right .grid-bg { order:1; }

.main-content .grid50 .main-grid,
.main-content .grid50 .main-grid:nth-child(odd),
.main-content .grid50 .main-grid:nth-child(even) {
    grid-template-columns: 50% 50% !important;
    padding:0 !important;
    grid-gap:0 !important;
}
.main-content .grid50 .main-grid img {
    max-width:none;
}
.main-content .grid50 .text { padding:0 5% !important; }


.main-content aside {
    position: sticky;
    background-color:#F9F9F9;
    width:250px;
    height:100vh;
    top:calc(65px + 25px);
    text-align:right;
    border-right:1px solid #eee;
    border-left:1px solid #eee;
}
.main-content aside ul {
    list-style-type: none !important;
}
.main-content aside a {
    color:#999;
    font-family:'Raleway', sans-serif;
    padding:13px 20px;
    display:block;
    text-decoration: none;
    transition:.2s;
    margin:0 0 10px 0;
    text-transform: uppercase;
    font-size:12px;
}
.main-content aside a.aside__sub {
    text-transform: none;
}
.main-content aside .active {
    color:#000;
    background-color:#EAEAEA;
    box-shadow:0 3px 6px rgba(0,0,0, .16);
}

.main-grid {
    padding:50px 5% !important;
}
.main-content .main-grid:nth-child(odd) {grid-template-columns: 360px auto; background-color:#FFF;}
.main-content .main-grid:nth-child(even) {grid-template-columns: auto 360px; background-color:#F9F9F9;}

.main-grid img {
    max-width:350px;
    width:100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit:cover;
}
.main-grid__column:nth-child(odd) img { float:left; }
.main-grid__column:nth-child(even) img { float:right; }

.main-grid__column {
    position: relative;
}
.gridAnchor {
    position: absolute;
    top:-120px;
}

.main-grid__column h1 {
    margin-bottom:10px;
    font-weight:300;
    font-size:24px;
}
.main-grid__column h1:after {
    content:'';
    display:none;
}
.main-grid__column h1.right:before {
    content:'\f100';
    display:inline-block;
    font-family:'Font Awesome 5 Pro';
    font-weight:400;
    color:#bd261b;
    margin-right:10px;
}
.main-grid__column h1.left:after {
    content:'\f101';
    display:inline-block;
    font-family:'Font Awesome 5 Pro';
    font-weight:400;
    color:#bd261b;
    margin-left:10px;
}
.main-grid__column p {
    line-height:25px;
    font-size:14px;
}

.kontakt-grid {
    display:grid;
    grid-template-columns:repeat(3, auto);
    grid-gap:20px;
    text-align:center;
    margin:50px 0;
}
.kontakt-grid-column { text-align:center; }
.kontakt-grid-column .icon {
    background-color:#333;
    color:#FFF;
    border-radius:50%;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    font-size:34px;
    margin:20px auto;
    box-shadow:0 6px 8px rgba(0,0,0, .16);
}
.kontakt-grid-column p {
    font-weight:200;
    text-transform:none;
}


@media only screen and (max-width: 560px) {
    main { 
        padding-top:40px;
    }
    
    .slide__title {
        font-size:28px !important;
    }
    .slide__text {
        font-size:14px !;
    }
    
    .grid {
        margin: auto 0%;
    }
    .grid-column {
        width:100%;
    }

    .kontakt-grid {
        grid-template-columns:100%;
    }
    
    .main-grid,
    .main-grid:nth-child(odd),
    .main-grid:nth-child(even) {
        grid-template-columns:100% !important;
        float:clear;
    }
    .main-content section {padding:25px 5% !important; }
    .main-content section:nth-child(even) { background-color:#f4f4f4; }
    .main-grid .text { order:1; }

    .headerNavigator {
        grid-template-columns:100% !important;
    }
    .headerSticky { 
        text-align:center !important; 
    }
    .footer__body{
        padding:5% !important;
    }
    .footer__body,
    .footer__grid {
        grid-template-columns:100%;
    }
    .footer__right,
    .footer__left {
        text-align:center;
        margin:10px 0;
    }

    .slide__content {
        padding:0 5% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slick-prev, .slick-next { display:none !important; }

    .main-content.aside,
    .main-content.aside.right,
    .main-content.aside.left {
        grid-template-columns: auto !important;
        padding:0 5% 0 0;
    }
    .main-content aside { display:none; }
}